body{
    min-height: 100vh;
    height: auto;
}

.center{
    text-align: center;
}

.name{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.skills{
    display:flex;
    justify-content:space-evenly;
    align-items: center;

}

#skills{
display:flex;
flex-direction: column;
justify-content: center;
height: 55vh;
border: 1px red solid;
}

ul{
    list-style:none;
}